.input {
  width: 2rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  color: #000;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0.5rem;

  &:first-child {
    margin-left: 0;
  }
}

.main {
  display: flex;
  height: 100vh;
}

.scriptPalette {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  background-color: #f0f0f0;
}

.block {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 0.5rem;
  color: white;
  white-space: nowrap;
  cursor: grab;
  background-color: #4caf50;
  border: #fff4 solid 0.25rem;
  border-radius: 0.5rem;
}

.blockColumn,
.blockRow {
  display: flex;
}

.blockColumn {
  flex-direction: column;
  gap: 0.5rem;
}

.blockColumn > div:last-child {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.blockColumn > div:last-child > input {
  width: 100%;
}

.blockRow {
  flex-direction: row;
  padding: 0;
}

.blockShadow {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 0.5rem;
  color: white;
  white-space: nowrap;
  cursor: grab;
  background-color: #3d8b40;
  border: #fff4 solid 0.25rem;
  border-radius: 0.5rem;
}
